/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';

/* component styling */
@import '../server/components/intro/intro.css';
@import'../server/components/username/username.css';
@import '../server/components/instellingen/instellingen.css';
@import '../server/components/guessPokemon/guessPokemon.css';

body {
  color: black;
  margin: 0 auto;

}

main{
  overflow-x: clip;
}


ul, li{
  list-style: none;

}
.pokemon-list{
  background: url('/public/img/pokemonbox.png');
}

/* Verberg de datalist-dropdown-pijl in Chrome */
input[list]::-webkit-calendar-picker-indicator {
  display: none;
  appearance: none;
}
