@font-face {
  font-family: 'PokemonGb'; /* let op de naam */
  src: url('/public/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PokemonGb', sans-serif;
  font-weight: 400;
}

.h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 600;
}
