header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

nav{
  height: 4rem;
    background: #c6b58c;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: clamp(1rem, 100%, 13rem);
      height: fit-content;
    }
}

footer {
  padding: .5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: #c6b58c;
  z-index: 15;
  display: flex;
}

.settingsmenu{
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  position: absolute;
  top: -14rem;
  right: 0;
  align-items: center;
  background: red;
  padding: 2rem;
  gap: 1rem;
  z-index: 14;
  transition: .5s;
}

body:has(#menuopen:checked) .settingsmenu{
  top: 4rem;
  transition: .5s;
}
