<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
  {% if NODE_ENV == "development" %}
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/client/index.js" defer></script>
    <script> window.pokemons = {{ pokemons | json }}; </script>
  {% else %}
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.svg">
    <script src="/index.js" defer></script>
  {% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>


<body>
  <header>
    <nav>
      <img src="/public/img/pokemonlogo.png" alt="pokeguesser logo">
      <ul class="pokeball base">
        <li class="pokeball-top"></li>
        <li class="pokeball-mid-top"></li>
        <li class="pokeball-mid-bottom"></li>
        <li class="pokeball-bottom"></li>
    </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div id="volume-control" style="margin: 1rem 0;">
      <label for="volume-slider">🔊 Volume muziek:</label>
      <input type="range" id="volume-slider" min="0" max="100" value="40" />
    </div>
    <button id="reset-game">Reset game</button>
    <button id="close-pokemon-list" class="close-pokemon-list">×</button>

  </footer>
</body>
</html>
