{% layout "server/layouts/base.liquid" %}

{% block content %}
  <div class="intro-scherm" for="intro">
    <video id="pokemon-video" width="100%" height="100%" autoplay muted></video>
  </div>
{% endblock %}
