<section class="settingsmenu">


    <div class="settings-container">
      <ul id="player-info" class="player-info">
        <li><img class="player-avatar" src="" alt="Speler afbeelding" /></li>

        <li><p class="player-name"></p></li>
        <li><p><span class="caught-count">0</span> / <span class="total-count">0</span></p></li>
        <li><p>Streak: <span class="current-streak">0</span></p></li>
         <li><p>Beste streak: <span class="best-streak">0</span></p></li>
         <li><p>Fouten: <span class="wrong-count">0</span></p></li>

         <li><p class="account-created"></p></li>
      </ul>
      <hr>
      <div id="volume-control">
        <label for="volume-slider">Algemene volume<input type="range" id="volume-slider" min="0" max="100" value="40" />
        </label>
        <div class="music-volume-container">
          <label for="music-volume-slider">Muziekvolume<input type="range" id="music-volume-slider" min="0" max="100"
              value="40" /></label>
          <div id="music-control">
            <button id="music-toggle-btn">▶</button>
            <button id="next-song-btn">⏭</button>
          </div>
        </div>
      </div>
      <button id="reset-game">Reset game</button>
      <button id="cheat-all">Raad Alle Pokémon</button>
    </div>
  </section>
