
.settingsmenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  height: 92dvh;
  padding: 1.5rem;
  gap: 1rem;
  z-index: 19;
  transition: .5s;
  border: solid 5px black;
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(0deg, #000000, #000000 1px, #2d6bb4 1px, #2d6bb4);
  justify-content: center;
  align-items: center;


  button{
    width: 100%;
    padding: .5rem;
    border: solid;
    border-radius: 5px;
  }
}

.settings-container{
    display: flex;
    background: #2d6bb4;
    padding: 2rem;
    flex-direction: column;
    gap: .5rem;
    border: solid;
    border-radius: 15px;
    max-width: 17rem;

    button{
      cursor: pointer;
    }
}

body:has(#menuopen:checked) .settingsmenu{
  top: 0;
  transition: .5s;
}

#menu{
  display: flex;
  align-items: center;
  cursor: pointer;
  p{
    padding-top: .5rem;
    font-size: .8rem;
    font-weight: 500;
  }
}

#volume-control{
  display: flex;
  flex-direction: column;
  gap: .5rem;

  input{
    width: 100%;
  }

  label{
    color: white;
    text-shadow: 1px 2px black;
  }
}

#music-control {
  top: 1rem;
  right: 1rem;
  display: flex;
}

#music-toggle-btn, #next-song-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  text-shadow: 1px 2px black;
}

.player-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "pi1 pi7"
  "pi2 pi4"
  "pi3 pi5"
  "pi3 pi6"
  ;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: .8rem;
  background: black;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: inset 0 0 0 2px #3c3c3c;

  li{
    display: flex;
    align-items: flex-end;
  }
  li:nth-of-type(1){grid-area: pi1;}
  li:nth-of-type(2){grid-area: pi2; justify-content: center;}
  li:nth-of-type(3){grid-area: pi3; justify-content: center;}
  li:nth-of-type(4){grid-area: pi4;}
  li:nth-of-type(5){grid-area: pi5;}
  li:nth-of-type(6){grid-area: pi6;}
  li:nth-of-type(7){
    grid-area: pi7;
    justify-self: flex-start;
    align-self: center;
    line-height: 22px;}

  li:has(span) p{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}

.player-avatar {
  width: 3.5rem;
  height: 5rem;
  border-radius: 10%;
  object-fit: fill;
  border: solid 1px #000000;
  box-shadow: 2px 2px #ffffff;
}

.player-name{
  font-size: .8rem;
  color: white;
  text-decoration: underline;
  text-shadow: 1px 2.5px black;
  line-height: 0;
  text-transform: capitalize;
}
